{% load static %}
<div class="upper-footer container">
    <div class="content">
        <div class="loc">
            <p>
                <span class="material-symbols-outlined">
                    location_on
                </span>
                آدرس : تهران ، ورامین
            </p>
            <p>
                <span class="material-symbols-outlined">
                    phone_enabled
                </span>
                شماره تماس : 09129999999
            </p>
        </div>
        <div class="social-media">
            <h1>شبکه&zwnj;های اجتماعی</h1>
            <a href="#">
                <i class="bx bxl-instagram"></i>
            </a>
        </div>
    </div>
    <div class="logo">
        <a href="/">
            <img src="{% static 'images/لوگو پیشرو چرم.png' %}" alt="" />
        </a>
    </div>
</div>

<div class="enamad">
    <div id="nextpay">
        <script src="https://nextpay.org/nx/js-trust/71684" type="text/javascript"></script>
    </div>
    <div id="nextpay">
        <script src="https://nextpay.org/nx/js-trust/71684" type="text/javascript"></script>
    </div>
</div>

<div class="main-footer">
    <div class="container">
        <p>
            کپی رایت  <i class="bx bx-copyright"></i>  تمام حقوق قالب
            محفوظ است. طراحی و توسعه توسط
        </p>
        <p>
            <a href="https://amiramjafari.ir/" target="_blank">
                امیرجعفری
            </a>
        </p>
    </div>
</div>